/* div{
    border: 5px solid aqua;
} */

/* Inline */
/* span{
    border: 5px solid red;
} */

/* Inline-Block Display */
/* body{
    background-color: blue;
}

div{
    display: inline-block;
    width:300px;
    border: 5px solid green;
    margin: 0px;
} */


/* Display-none */

p{
    display: none;
}